<h1>{{title}}</h1>
<p>	Bienvenido a la aplicaci&oacute;n {{title}}</p>
<div class="container">
	<div class="row">
		<div class="col col-5"><div class="alert alert-success">Llena los campos para registrar un juguete nuevo.</div></div>

	</div>
</div>
<hr>
<form form action="/alta" method="POST">

</form>
<hr>
